.member-container{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    height: 30px;
    column-gap: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.member-container:hover{
    background-color: grey;
}
