.card-container{
    width:512px;
    /* height: 262px; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 2px #e9e8e8;
}
/* .header{
    border-bottom: 0.5px solid grey;
} */