.footer-container{
    box-sizing: border-box;
    /* border-top: 0.5px solid gray; */
    height: 50px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 237, 237);
}
