*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.shareContainer{
  margin-top: 25px;
  margin-left: 25px;
width: 95px;
height: 36px;
background-color: black;
display: flex;
justify-content: space-between;
align-items: center;
box-sizing: border-box;
padding-left: 8px;
padding-right: 8px;
color: white;
cursor: pointer;
font-weight: 600;
border-radius: 5px;
margin-bottom: 3px;
}
.popup-card{
  margin-left: 25px;
}